.projectImgContainer{
    width: 500px;
    overflow: hidden;
    margin: 50px;
}
.projectImgContainer img{
    max-width: 100%;
}

.projectPortfolioContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.projectPortfolioContainer button{
        background-color: #16c79a;
        border: .5px solid #aaaaaa;
        border-radius: 25px;
        color: #fff;
        padding: 12px;
        box-shadow: 5px 5px 5px 5px;
        box-shadow: #6dba6d 0px 0px 10px 0px;
        font-size: 14px;
}

@media screen and (max-width: 768px){
    .projectImgContainer{
        width: 100%;
        margin: 0;
        padding: 50px;
        box-sizing: border-box;
    }
    .projectPortfolioContainer{
        padding-top: 50px;
    }
}