.container{
    text-align: left;
    
}
.container .name{
    padding-top: 4px;
    margin-bottom: 40px;
    background-color: rgb(30, 99, 76);
    color: #fff;
    padding: 2rem;
}
.container .title{
    background-color: rgb(52, 179, 136);
    padding: 5px;
    color: #fff;
}
.container .profile img{
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    margin-bottom: 15px;
    margin-left: 40px;
}
.container .profile{
    background-color: rgb(26, 25, 25);
    padding: 1rem;
}
.container .row{
    padding: 1rem;
}

/* .container .contact h5{
    text-decoration: underline;
} */